*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$color1:#0B1B35;
$color2: #000;
$color3:#1E0E62;
$color4: #15143966;

%button{
    font-size:18px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    background: #FF6600;
    border: none;
    transition: 0.5;
    cursor: pointer;
    &:hover{
        background-color: #e37023;
    }
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

$font: "Arimo", sans-serif;
$fon2:"DM Sans", sans-serif;

body{
    background-color: #dbdada;
    
    .container{
        margin: auto;
        width: 1440px;
        height: 100%;
        padding: 48px 135px;
        background-color: #fff;
        // background-color: aqua; 
        .header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header_center{
                ul{
                    display: flex;
                    gap: 40px;
                    li{
                        
                        a{
                           font-size: 18px;
                           font-family: $font;
                           line-height: 28px;
                           font-weight: 500;
                           color: $color2;
                           transition: 0.4s;
                           &:hover{
                            font-weight: 700;
                           } 
                        }
                    }
                }
            }
            .header_right{
                display: flex;
                gap: 22px;
                align-items: center;
                a{
                    font-size:18px;
                    font-weight: 500;
                    line-height: 28px;
                    font-family: $font;
                    color: $color2;
                    transition: 0.4s;
                    &:hover{
                        font-weight: 700;
                    }
                }
                button{
                    @extend %button
                }
            }    
        } 
        
        .hero_section{
            display: flex;
            // align-items: center;
            justify-content: space-between;
            .hero_info{
                padding-top: 114px;
                h1{
                    font-family: $font;
                    font-size: 70px;
                    font-weight: 850;
                    line-height: 81px;
                    color: #0B1B35;
                    max-width: 653px;
                    max-height: 260px;
                    margin-bottom: 16px;
                    
                }
                p{
                    font-family: $font;
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 28px;
                    color: $color2;
                    max-width: 555px;
                    margin-bottom: 66px;
                }
                button{
                    @extend %button
                }
            }
            .hero_img{
               img{
                width: 606px;
                object-fit: cover;
                
               }
                
            }

        }
        .section1{
            h2{
                font-family: $font;
                font-size: 52px;
                font-weight: 700;
                text-align: center;
                color: $color1;
                margin-bottom: 100px;
            }
            .section1_info{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .box1{
                   width: 352px;
                   height: 508px;
                   background: #FFFFFF;
                   text-align: center;
                   border-radius: 28px;
                   padding: 30px 39px 45px 39px;

                   box-shadow: 0px 2.77px 2.21px 0px #00000005;

                    box-shadow: 0px 6.65px 5.32px 0px #00000007;

                    box-shadow: 0px 12.52px 10.02px 0px #00000009;

                    box-shadow: 0px 22.34px 17.87px 0px #0000000B;

                    box-shadow: 0px 41.78px 33.42px 0px #0000000D;

                    box-shadow: 0px 100px 80px 0px #00000012;


                   
                   .img{
                    img{
                        
                        margin-bottom: 41px;
                        cursor: pointer;
                    }
                   }
                   h3{
                    font-family: $font;
                    font-size: 34px;
                    line-height: 28px;
                    color: #000;
                    font-weight: 700;
                    margin-bottom: 32px;
                    max-width: 276px;cursor: pointer;
                   }
                   p{
                    font-family: $font;
                    font-size: 18px;
                    line-height: 28px;
                    color: #000;
                    font-weight: 400;
                    margin-bottom: 18px;
                   }
                   button{
                    @extend %button
                    
                   }
                }
                
            }
        }
        .section2{
            text-align: center;
            margin-bottom: 170px;
            margin-top: 180px;
            h4{
                font-family: $font;
                font-size: 14px;
                font-weight: 700;
                line-height: 28px;
                color: $color4;
                margin-bottom: 14px;
            }
            h2{
               font-family: $font;
               font-weight: 700;
               font-size: 52px;
               color:$color1;
               margin-bottom: 52px;
            }
            .section2_info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .card1{
                    width: 370px;
                    height: 370px;
                    border-radius: 10px;
                    border: 2px solid #EBEAED;
                    // background-color: red;
                    .card1_img{
                        padding-top: 50px;
                        padding-bottom: 29px;
                        img{
                            cursor: pointer;
                        }
                    }
                    h3{
                        font-family: $fon2;
                        color: $color3;
                        font-size: 22px;
                        line-height: 32px;
                        margin-bottom: 16px;
                        cursor: pointer;
                    }
                    p{
                        font-family: $fon2;
                        color: $color4;
                        font-size: 14px;
                        line-height: 22px;
                        margin-bottom: 32px; 
                        cursor: pointer;
                    }
                    .logotipy{
                        display: flex;
                      
                        .twitter {
                            display: inline-block;
                            border-top: 2px solid #EBEAED;
                            padding:20px 50px;   
                        }
                        .facebook {
                            display: inline-block;
                            border-right: 2px solid #EBEAED;
                            border-left: 2px solid #EBEAED;
                            border-top: 2px solid #EBEAED;
                            padding:18px 51px;  
                        }
                        .diroble {
                            display: inline-block;
                            border-top: 2px solid #EBEAED;
                            padding:18px 51px;  
                        }
                    }
                }
            }
        }
        .footer{
            // display: flex;
            // justify-content: space-between;
            // align-items: center;
            .top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 70px;
                .top_left{
                    display: flex;
                    align-items: center;
                    gap: 90px;
                    .logo{
                        img{
                            width: 111px;
                            cursor: pointer;
                        }
                    }
                    p{
                        font-family: $fon2;
                        font-size: 16px;
                        line-height: 26px;
                        color: $color3;
                        font-weight: 400;
                    }
                }
                .top_right{
                    ul {
                        display: flex;
                        gap: 39px;
                        li{
                            a{
                                font-family: $fon2;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 26px;
                                color: $color3;
                            }
                        }
                    }
                }
            }
            .bottom{
                p{
                    font-family: $fon2;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    color: $color4;
                }
            }
        }
        
    }
}